.container {
    max-width: 600px;
    margin-top: 35px;
}

form {
    padding-top: 10px;
}

#celsious,
#fahrenheit {
    text-decoration: none;
}

.card {
    background-color: rgba(255, 174, 97, 0.3);
    display: block;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;

}


.icon-current {
    height: 100px;
}

#right-side {
    text-align: right;
    padding-top: 20px;
}

.current-weather-side {
    margin: 5px;
    height: 345px;
    text-align: center;
}

.city-current {
    font-size: 28px;
    font-weight: bold;
    color: #202124;
    padding-top: 25px;
}

.temperature-current {
    font-size: 48px;
    color: #202124;
}

.units {
    font-size: 16px;
    position: relative;
    bottom: 20px;
}

.units .active {
    font-weight: bold;
    color: #202124;
    cursor: default;
}

.time-current {
    padding-bottom: 20px;
    font-size: 16px;
    color: #70757A;
}

.description-current {
    font-size: 16px;
    color: #70757A;
}

.card-future {
    position: relative;
    height: 65px;
    text-align: center;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.day-future {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
 }

.icon-future {
    position: relative;
    height: 75px;
}

.temperature-future {
    position: relative;
    font-size: 14px;
    top:20px;
   }

.high-future {
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

